@media screen and (max-width: 1260px) {
  .card h1 span {
    font-size: 70px;
  }
  .input {
    height: 4.2rem;
    width: 5.5rem;
    font-size: 4rem;
  }
  .card h1 {
    gap: 10px;
  }
}

@media screen and (max-width: 935px) {
  .card h1 span {
    font-size: calc(50px + 0.38vw);
  }
  .card h2,
  .btm_box {
    font-size: calc(1rem + 0.39vw);
  }
  .card {
    width: 50vw;
  }
  .dot-menu__label {
    width: 2rem;
    height: 2rem;
  }
  .dot-menu__label:before,
  .dot-menu__label:after,
  .dot-menu__label span:before {
    left: 0.85rem;
    width: 0.35rem;
    height: 0.35rem;
  }
  .dot-menu__label:after {
    top: 0.35rem;
  }
  .dot-menu__label span:before {
    top: 0.82rem;
  }
  .dot-menu__label:before {
    top: 1.3rem;
  }
  .format-switch {
    width: 3.7rem;
    height: 2rem;
    font-size: 0.85rem;
  }
  .format-switch::before {
    inset: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .format-switch.active::before {
    box-shadow: 0 1px 20px var(--clr-4);
  }
  .dot-menu__checkbox:checked ~ .dot-menu__label:before {
    transform: rotate(224deg) translate(10px, 1px);
  }
  .dot-menu__checkbox:checked ~ .dot-menu__label:after {
    transform: rotate(136deg) translate(10px, -1px);
  }
  .circle {
    width: 250px;
    height: 250px;
  }
  #sec_hand{
    height: 233px;
  }
  #sec_hand::before{
    height: 140px;
  }
  .input {
    height: 3.2rem;
    width: 3.5rem;
    font-size: 2rem;
}
.btn {
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
}
.card h1 {
    gap: 5px;
}
}

@media screen and (max-width: 530px) {
    .card {
        width: 60vw;
      }
  .card h1 span {
    font-size: calc(32px + 0.38vw);
  }
  .dot-menu__label:before {
    top: 1.3rem;
  }

  .dot-menu__label:before,
  .dot-menu__label:after,
  .dot-menu__label span:before {
    left: 0.9rem;
    width: 0.25rem;
    height: 0.25rem;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  #sec_hand{
    height: 180px;
  }
  #sec_hand::before{
    height: 110px;
  }
  #min_hand{
    height: 140px;
    width: 4px;
  }
  #min_hand::before{
    height: 90px;
  }
  #hr_hand{
    height: 70px;
    width: 7px;
  }
  #hr_hand::before{
    height: 50px;
  }
}

@media screen and (max-width: 393px) {
  .card {
    align-content: space-evenly;
    width: 75vw;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  #sec_hand{
    height: 180px;
  }
  #sec_hand::before{
    height: 110px;
  }
  #min_hand{
    height: 140px;
    width: 4px;
  }
  #min_hand::before{
    height: 90px;
  }
  #hr_hand{
    height: 70px;
    width: 7px;
  }
  #hr_hand::before{
    height: 50px;
  }
  .btn {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
  }
  .input {
    height: 2.2rem;
    width: 2.8rem;
    font-size: 1.8rem;
}
}
